* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color1: #fff;
    --color2: #000;
    --color3: #3D265E;
    --color4: #E84F30;
    --color5: #1f1f1f;
    --color6: #E0E0E0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    background: var(--color1);
}

.container {
    height: 100vh;
    max-width: 80vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.banenerMain {
    background: var(--color3);
    color: var(--color1);
    width: 26.875rem;
    height: 4.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.banenerMain h1 {
    font-size: 0.75rem;
    width: 14rem;
    height: 4rem;
    padding-top: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banenerMain img {
    width: 35%;
    height: 35%;
    margin-top: -0.25rem;
}

.form {
    width: 26.875rem;
    height: 9.125rem;
    padding-left: 5.188rem;
    padding-right: 5.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */

    border: 1px solid yellow;
}

.form input {
    margin-top: 0.25rem;
    width: 14rem;
    border-radius: 3px;
    border: 1px solid var(--color6);
}

.form button {
    margin-top: 1rem;
    width: 14rem;
}

.userData {
    width: 26.875rem;
    height: 12.625rem;
    border: 1px solid blue;
}

.repositoryData {
    width: 26.875rem;
    height: 22rem;
    border: 1px solid red;
}

.repositoryData img {
    width: 10%;
    height: 10%;
}

.footerContainer {
    width: 26.875rem;
    height: 7.188rem;
    border: 1px solid pink;
}

.bannerPurple {
    background: var(--color3);
    width: 14.563rem;
    height: 1.5rem;
}

.bannerGray {
    background: var(--color5);
    width: 14.563rem;
    height: 3.813rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.bannerGray img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}