* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --color1: #fff;
    --color2: #000;
    --color3: #3D265E;
    --color4: #E84F30;
    --color5: #1f1f1f;
    --color6: #E0E0E0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color5);
    display: flex;
    justify-content: center;

}

.container {
    max-width: 80vw;
    width: 26.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color1);
}

.banenerMain {
    background: var(--color3);
    color: var(--color1);
    width: 100%;
    height: 4.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banenerMain h1 {
    font-size: 0.75rem;
    width: 14rem;
    height: 4rem;
    padding-top: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banenerMain img {
    width: 35%;
    height: 35%;
    margin-top: -0.25rem;
}

.form {
    width: 100%;
    height: 9.125rem;
    padding-left: 5.188rem;
    padding-right: 5.188rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    background: var(--color5);
    color: var(--color6);
    border-radius: 3px;
    border: 1px solid var(--color6);
    margin-top: 0.25rem;
    width: 14rem;
    padding: 0.375rem 0 0.375rem 0.625rem;
}

.form button {
    background: var(--color4);
    color: var(--color1);
    border-radius: 3px;
    border: transparent;
    font-weight: bold;
    margin-top: 1rem;
    width: 14rem;
    padding: 0.375rem 0 0.375rem 0.625rem;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}

.form button:hover {
    opacity: 0.7;
}

.userData {
    width: 100%;
    height: 12.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.avatar {
    object-fit: cover;
    background: var(--color3);
    border-radius: 50%;
    border: 4px solid var(--color3);
    width: 5.625rem;
    height: 5.625rem;
}

.name {
    font-size: 1rem;
    font-weight: 700;
    line-height: 160%;
    color: var(--color2);
    padding: .125rem 0 0.5rem 0;
}

.bio {
    color: var(--color3);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 16.375rem;
}

.repositoryData {
    width: 100%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerOrange {
    background: var(--color4);
    color: var(--color1);
    width: 50%;
    padding: .25rem 0;
    margin: .75rem;
}

.repositoryData p {
    text-align: center;
}

.numbergutHub1 {
    margin-top: -1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.computer {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.number {
    position: absolute;
    margin-top: -3.5rem;
    margin-left: 30%;
    font-size: 1.875rem;
}

.gitHubAccount {
    width: 100%;
    height: 10rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.octocat {
    width: 8.938rem;
    height: 8.938rem;
    position: relative;
    margin-bottom: -1rem;
}

.link {
    color: var(--color4);
    font-size: 1rem;
    font-weight: 700;
    line-height: 160%;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
    padding: .125rem;
}

.link:hover {
    opacity: .7;
}

.footerContainer {
    color: var(--color1);
    width: 100%;
    height: 7.188rem;
    text-align: center;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

.bannerPurple {
    background: var(--color3);
    width: 12rem;
    height: 1.5rem;
    padding: .25rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.bannerGray {
    background: var(--color6);
    width: 12rem;
    height: 3.813rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoTech {
    width: 1.766rem;
    height: 2.016rem;
}

.logoColab {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.link2 {
    cursor: pointer;
    opacity: 1;
    transition: .3s;
}

.link2:hover {
    opacity: .7;
}

@media screen and (min-width: 769px) {
    body {
        font-size: 1rem;
    }

    .container {
        min-width: 80vw;
    }

    .banenerMain h1 {
        width: 100%;
    }

    .bannerOrange {
        width: 45%;
    }

    .bannerPurple {
        width: 19rem;
    }

    .bannerGray {
        width: 19rem;
    }

}